body {
    font-family: 'Inter', sans-serif;
}
/* Custom scrollbar for log */
#log-container::-webkit-scrollbar {
    width: 8px;
}
#log-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
#log-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
#log-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
